{% extends "layout.html" %}

{% block content %}

<div class="alert alert-success alert-dismissible">
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Yay!</strong> Looks like everything is working.
</div>

<div class="page-header text-center">
    <h1> Welcome to MusicML </h1>
</div>


<b>I was rendered using Jinja2 templates!</b>


<h2> Upload an audo file: </h2>
<form method="post" enctype="multipart/form-data" >
    <p><input type=file name=file>
       <input type=submit value=Upload>
</form>


{% endblock %}
