{% extends "layout.html" %}

{% block content %}

<div class="alert alert-success alert-dismissible">
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Yay!</strong> Looks like everything is working.
</div>

<div class="text-center">
    <div class="page-header">
        <h1> Welcome to MusicML </h1>
    </div>

    <h2> Select Genre and Upload Audio File: </h2><br>

    <form  method="post" enctype="multipart/form-data" >
        <input type="radio" name="genres" id="blues" value="blues"/>
        <label for="blues">Blues</label>
        <input type="radio"  name="genres" id="classical" value="classical"/>
        <label for="classical">Classical</label>
        <input type="radio"  name="genres" id="country" value="country"/>
        <label for="country">Country</label>
        <input type="radio"  name="genres" id="disco" value="disco"/>
        <label for="disco">Disco</label>
        <input type="radio"  name="genres" id="hiphop" value="hiphop"/>
        <label for="hiphop">HipHop</label>
        <br>
        <input type="radio"  name="genres" id="jazz" value="jazz"/>
        <label for="jazz">Jazz</label>
        <input type="radio"  name="genres" id="metal" value="metal"/>
        <label for="metal">Metal</label>
        <input type="radio"  name="genres" id="pop" value="pop"/>
        <label for="pop">Pop</label>
        <input type="radio"  name="genres" id="raggae" value="raggae"/>
        <label for="raggae">Raggae</label>
        <input type="radio"  name="genres" id="rock" value="rock"/>
        <label for="rock">Rock</label>
        <br><br>
        <input type="file" name="file"/>
        <input type="submit" value="Upload File" />
    </form>
</div>
{% endblock %}
