.gitignore
.pytest_cache/
*DS_STORE*

venv/
build
dist/
music_ml.egg-info
__pycache__/


*.au
*.wav
*.csv
*.pkl

music_ml_backend/resources/data/au_format/*
music_ml_backend/resources/data/wav_format/*
music_ml_backend/resources/data/training/*
music_ml_backend/resources/data/testing/*
